:root{
    --blanco:#ffffff;
    --negro:#000000;
    --primario:#9c27b0;
    --primarioOscuro:#89119d;
    --secundario:#ffce00;
    --secundarioOscuro:#e9ba00;

    --fuentePrincipal:"Staatliches", sans-serif;
}
html{
    box-sizing:border-box;
    font-size:62.5%;
}
*, *:before, *:after{
    box-sizing:inherit;
}
/*global*/
body{
    background-color:var(--primario);
    font-size:1.6rem;
    line-height:1.5;
}
p{
    font-size:1.8rem;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--blanco);
}
a{
    text-decoration:none;
}
img{
    width:100%;
}
.contenedor{
    max-width:100rem;
    margin:0 auto;
}
h1, h2, h3{
    text-align:center;
    color:var(--secundario);
    font-family:var(--fuentePrincipal);
}
h1{
    font-size:4rem;
}
h2{
    font-size:3.2rem;
}
h3{
    font-size:2.4rem;
}
/*navegacion*/
.header{
    display:flex;
    justify-content:center;
}
.header__logo{
    margin:3rem 0;
}
.navegacion{
    display:flex;
    justify-content:center;
    background-color:var(--primarioOscuro);
    padding:1rem 0;
}
.navegacion__enlace{
    color:var(--blanco);
    font-family:var(--fuentePrincipal);
    font-size:3rem;
    margin:0 2rem;
}
.navegacion__enlace--activo, .navegacion__enlace:hover{
    color:var(--secundario);
}
/*grid*/
.grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap:3rem;
    row-gap:3rem;
}
/*producto*/
.producto{
    padding:1rem;
    background-color:var(--primarioOscuro);
  
}
.producto__imagen{
    width:100%;
}
.producto__informacion{
    text-align:center;
}
.producto__nombre{
    font-size:4rem;
}
.producto__precio{
    font-size:2.8rem;
    color:var(--secundario);
}
.producto__nombre, .producto__precio{
    font-family:var(--fuentePrincipal);
    margin:1rem;
}
/*grafico*/
.grafico{
    min-height:30rem;
    background-repeat:no-repeat;
    background-size:cover;
}
.grafico--camisa{
    background-image:url(../img/grafico1.jpg);
    grid-row:2 / 3;
    grid-column:1 / 3;
}
.grafico--node{
    background-image:url(../img/grafico2.jpg);
    grid-row:5 / 6;
    grid-column:2/4;
}
/*pie de pagina*/
.footer{
    background-color:var(--primarioOscuro);
    padding:1rem 0;
    margin-top:2rem;
}
.footer__texto{
    text-align:center;
    font-family:var(--fuentePrincipal);
    font-size:2.2rem;
    line-height:1.2;
}
/*Responsive Index*/
@media (max-width: 768px){
    .grid{
        grid-template-columns:repeat(2, 1fr);
    }
    .grafico{
        grid-column:1 / 3;
    }
    .grafico--camisa{
        grid-row:3 / 4;
    }
    .grafico--node{
        grid-row:8 / 9;
    }
}


/*Nosotros*/
.nosotros{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap:2rem;
}
/*bloques*/
.bloques{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:2rem;
}
.bloque{
    text-align:center;
}
.bloque__imagen{
    width:100%;
}
.bloque__titulo{
    margin:0;
}
/*Responsive Nosotros*/
@media (max-width:768px) {
    .nosotros{
        grid-template-rows:repeat(2, 1fr);
    }
    .nosotros__contenido{
        grid-column:1/3;
        grid-row:1/2;
    }
    .nosotros__imagen{
        grid-column:1/3;
        grid-row:2/3;
        width:100%;
    }
}
@media (max-width:468px){
    .bloques{
        grid-template-columns:repeat(2, 1fr);

    }
}
/*pagina producto*/
.camisa{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:2rem;
}
.formulario{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:2rem;
}
.formulario__campo{
    border:1rem solid var(--primarioOscuro);
    background-color:var(--primario);
    color:var(--blanco);
    font-size:2rem;
    font-family:Arial, Helvetica, sans-serif;
    padding:1rem;
}
.formulario__submit{
    border:none;
    background-color:var(--secundario);
    font-size:2rem;
    font-family:var(--fuentePrincipal);
    padding:2rem;
    transition: background-color 0.2s ease;
    grid-column:1/3;
}
.formulario__submit:hover{
    cursor:pointer;
    background-color:var(--secundarioOscuro);
}
@media (max-width:768px){
    .formulario__campo{
        grid-column:1/3;
    }
    .camisa__imagen{
        grid-column:1/3;
    }
    .camisa__contenido{
        grid-column:1/3;
    }
}